{% extends "login/sign.html" %}

{% block sign_form %}
	<form class="plain_form sign_form">
		<div><input type="text" placeholder="Enter Name"/></div>
		<div><input type="text" placeholder="Enter Password"/></div>
		<div><a href=""><i class="fa fa-key" aria-hidden="true"> <span>Reset Password</span></i></a></div>
		<div><button type="submit" class="dark_submit"><i class="fa fa-account" aria-hidden="true"><span>Signin </span></i></button></div>
		<div><button type="submit"><i class="fa fa-google" aria-hidden="true"><span>sign in with Gmail</span></i></button></div>
		<div><button type="submit"><i class="fa fa-facebook-f" aria-hidden="true"><span>sign in with FB</span></i></button></div>
	</form>

{% endblock %}

            
			
		